<?xml version="1.0" encoding="UTF-8"?> 
 <configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform"> 
  <location path="%XDT_SITENAME%" xdt:Locator="Match(path)"> 
    <system.webServer> 
      <handlers xdt:Transform="InsertIfMissing"> 
        <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" xdt:Transform="InsertIfMissing" /> 
      </handlers> 
      <httpPlatform processPath="D:\Program Files (x86)\apache-tomcat-8.0.23\bin\startup.bat" arguments="" startupTimeLimit="300" xdt:Transform="InsertIfMissing"> 
        <environmentVariables> 
          <environmentVariable name="CATALINA_OPTS" value="-Dport.http=%HTTP_PLATFORM_PORT%" />
          <environmentVariable name="CATALINA_HOME" value="D:\Program Files (x86)\apache-tomcat-8.0.23" />
          <environmentVariable name="JRE_HOME" value="D:\Program Files (x86)\Java\jdk1.8.0_60\bin" /> 
          <environmentVariable name="JAVA_OPTS" value="-Djava.net.preferIPv4Stack=true" />
      </environmentVariables> 
      </httpPlatform> 
    </system.webServer> 
  </location> 
</configuration> 
